.dropdown_option {
    background-color:whitesmoke;
    padding:5px;
    font-size:12px;
    color: #333;
    width:100%;
    position: relative;
    cursor:pointer;
    z-index:10;
}

.dropdown_option span {
    pointer-events: none;
}

#dropdown_option_div {
    position:absolute;
    width: 20rem;
    max-height:200px;
    overflow-y:scroll;
}

.dropdown_option_cond {
    color:whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

.cond_cases {
    background-color:rgb(50, 50, 235)
}

.cond_new_cases {
    background-color:rgb(67, 155, 67)
}

.cond_deaths {
    background-color: rgb(243, 65, 65);
}

.cond_vacc {
    background-color: rgb(108, 70, 245);
}

.dropdown_hidden {
    display:none;
}