@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
  background-color: rgb(250, 250,250);
}

html {
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -1%;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}

.date {
  display: flex;
  align-items: end;
  flex-direction: column;
  margin-top: 3%;
}
.details {
  position: absolute;

}

.image {
  width: 370px;
  margin-top: 50px;
}

.mylegend {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}
.mylegend .legendscale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.mylegend .legendscale ul li {
  display: block;
  float: left;
  width: 50px;
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  list-style: none;
}
.mylegend ul.legendlabels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
}
.mylegend  {
  font-size: 70%;
  color: black;
  clear: both;
}

.legendtitle {
  text-align: center;
  color: black;
}

.legend {
  margin-top: 1%;
  margin-left: 8%;
  border: 1px solid black;
  position: absolute;
}



/*.button {*/
/*  -webkit-appearance: none;*/
/*  background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);*/
/*  background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);*/
/*  background-size: 500%;*/
/*  border: none;*/
/*  border-radius: 5rem;*/
/*  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);*/
/*  color: #fff;*/
/*  cursor: pointer;*/
/*  font: 1.5em Raleway, sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  height: 5rem;*/
/*  letter-spacing: .05em;*/
/*  outline: none;*/
/*  -webkit-tap-highlight-color: transparent;*/
/*  -webkit-user-select: none;*/
/*  -moz-user-select: none;*/
/*  -ms-user-select: none;*/
/*  user-select: none;*/
/*  width: 20rem;*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*}*/
/*.button:hover {*/
/*  animation-name: gradient;*/
/*  -webkit-animation-name: gradient;*/
/*  animation-duration: 2s;*/
/*  -webkit-animation-duration: s;*/
/*  animation-iteration-count: 1;*/
/*  -webkit-animation-iteration-count: 1;*/
/*  animation-fill-mode: forwards;*/
/*  -webkit-animation-fill-mode: forwards;*/
/*}*/
.button {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 10px;
  margin-right: 10px;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2 {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 10px;
  margin-right: 10px;
}

.button2:hover {background-color: #3e8e41}


.button1 {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04268a;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 10px;
  margin-right: 10px;
}

.button1:hover {background-color: #2757cd
}

.button1:active {
  background-color: #091cef;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 1%;
  }

  .image {
    width: 100%;
  }
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.skewBtn {
  margin: 0 25px;
  width: 140px;
  height: 60px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: .5s;
  font-size: 18px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}

.blue {
  border: 2px solid blue;
}

.blue:hover {
  color: white;
  border: none;
  background-color: blue;
}

.green {
  border: 2px solid green;
}

.green:hover {
  color: white;
  border: none;
  background-color: green;
}

.red {
  border: 2px solid red;
}

.red:hover {
  color: white;
  border: none;
  background-color: red;
}

.purple {
  border: 2px solid purple;
}

.purple:hover {
  color: white;
  border: none;
  background-color: purple;
}

.pink {
  border: 2px solid pink;
}

.pink:hover {
  color: white;
  border: none;
  background-color: pink;
}

